.draft-container {
  display: flex;
  justify-content: space-between;
}

.draft-container .left {
  /* flex: 1; */
  position: relative;
  padding-top: 20px;
  padding-left: 40px;
  width: 900px;
  height: 100vh;
  overflow-y: scroll;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.draft-container .left h3 {
  margin-left: 10px;
  margin-bottom: 10px;
}

.draft-container .left .search {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 7px 10px;
  margin-bottom: 14px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.draft-container .left .search input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  margin-left: 5px;
}

.draft-container .left a {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.draft-container .left a:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* .draft-container .left a:hover {
  background-color: rgba(0, 0, 255, 0.1);
} */

.draft-container .left a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.draft-container .left div:not(:first-child) {
  margin-left: 10px;
  width: 100%;
}

.draft-container .left .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

.draft-container .left .top span:first-child {
  font-weight: bold;
}

.draft-container .left .msg {
  font-size: 13px;
}

.draft-container .center {
  flex: 2;
  position: relative;
}

.draft-container .center .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.draft-container .center .top .top-left {
  display: flex;
  align-items: center;
}

.draft-container .center .top .top-left .text {
  margin-left: 10px;
}

.draft-container .center .top .top-left .text span {
  display: block;
}

.draft-container .center .top img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.draft-container .center .top .top-right {
  display: flex;
  align-items: center;
}

.draft-container .center .top .top-right svg {
  font-size: 30px;
  background: rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin-left: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.draft-container .center form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  margin-top: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
}

.draft-container .center form input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
}

.draft-container .center form button {
  width: 80px;
  font-size: 16px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: royalblue;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.chats {
  padding: 10px;
  height: 460px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow-y: scroll;
  margin: 10px;
}

.chat {
  margin-bottom: 10px;
}

.chat span {
  display: block;
}

.chat span:first-child {
  font-weight: bold;
}

.chat span:nth-child(2) {
  padding: 5px 0px 20px;
  font-size: 13px;
}

.chat span:last-child {
  position: absolute;
  font-size: 12px;
  right: 10px;
  bottom: 10px;
}

.sender {
  display: flex;
  justify-content: right;
}
.receiver {
  display: flex;
  justify-content: left;
}
.chat div {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 3px;
}

.sender-color {
  position: relative;
  background-color: royalblue;
  color: white;
}

.receiver-color {
  position: relative;
  background-color: white;
}

.draft-container .right {
  height: 100vh;
  flex: 1;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.draft-container .right {
  text-align: center;
  padding-top: 60px;
}

.draft-container .right img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.draft-container .right span {
  font-weight: bold;
  display: block;
}

.draft-container .right p {
  margin-top: -10px;
  font-size: 14px;
  padding: 0px 10px;
}

.draft-container .right section {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.draft-container .right section:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.draft-container .right section span {
  font-size: 13px;
}

.draft-container .right section span:last-child {
  font-weight: normal;
  margin-left: 10px;
}

.draft-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.draft-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.draft-icon {
  font-size: 15px;
  cursor: pointer;
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 120px;
  width: 120px;
  margin: 0px 0px 5px;
  padding: 3px;
  border-radius: 3px;
}

.draft-icon svg {
  font-size: 22px;
}

.desktop-block {
  display: none;
}

.draft-container a {
  display: block;
}
.draft-container .left a {
  padding: 0px;
}
.draft-container .left a div {
  flex: 1;
}

@media screen and (max-width: 1200px) {
  .draft-container .right {
    display: none;
  }
  /* .draft-container .left {
    min-width: 280px;
  } */
}

@media screen and (max-width: 700px) {
  .desktop-block {
    display: block;
    margin-top: -7px;
  }

  .draft-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .draft-container .left {
    justify-content: center;
  }
  .draft-container .left img {
    margin: auto;
  }

  .draft-container a {
    display: block;
  }
  .draft-container .left a {
    padding: 0px;
  }
  .draft-container .left a div {
    flex: 1;
  }
  .draft-container .center {
    height: auto;
    margin-left: 0px;
    flex: auto;
  }
  .draft-container .center .top .top-left .text {
    display: none;
  }
  .draft-container .center .top .top-left img {
    display: none;
  }
  .chats {
    margin: 5px;
    padding: 3px;
    padding-right: 0px;
  }
  .draft-container .center form {
    margin: 5px;
  }
  /* .draft-container a div {
    display: block;
  } */
}

.left .open-link {
  position: absolute;
  top: 5px;
  right: 10px;
  border: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.left .open-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
