.files-container .left #grid-img-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.files-container .left #grid-img {
  border: none;
  padding: none;
  padding: 0px;
}
.files-container .left #grid-img img {
  display: grid;
  width: 100%;
  border-radius: 10px;
  height: 200px;
}

@media screen and (max-width: 800px) {
  .files-container .left #grid-img-cont {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .files-container .left #grid-img-cont {
    grid-template-columns: repeat(1, 1fr);
  }
}
